/*
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

//Fonts

$font-main: "Oswald", sans-serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", sans-serif;

//Colors

$dark: #10102d;
$accent: #d4c17f;
$white: #fff;
$footer: #2d343c;
$placeholder: #bebebe;
$muted: #e7e7e7;

// MEDIA

$displayWidth0: 1200px;
$displayWidth1: 1000px;
$displayWidth2: 700px;
$displayWidth3: 500px;
