.screenshots {
  padding: 60px 0 100px;
  color: #fff;
  position: relative;
}
.screenshots__content {
  text-align: center;
  margin-bottom: 60px;
}
.screenshots__name {
}
.screenshots__title {
}
.screenshots__text {
}

.screenshot__item {
  margin-top: 27px;
  width: 255px;
  height: 550px;
  border-radius: 5px;
  object-fit: cover;
}
